.weather-card-container {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.weather-card {
    padding: 40px 20px;
    border-radius: 5px;
    background-color: rgb(5, 52, 99);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-weight: 200;
    font-size: max(1vw, 10px);
}
.weather-card img {
    width: 60px;
    height: 60px;
}

.weather-card h2 {
    font-weight: 350;
}

@media (max-width: 1080px) {
    .weather-card-title {
        align-self: center;
    }

    .weather-card {
        font-size: max(1.5vw, 12px);
    }
}

