.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
}

.login-popup-container{
    place-self: center;
    background-color: white;
    color: #808080;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding:  25px 40px;
    border-radius: 10px;
    width: min(600px, 90%);
    height: min(520px, 60%);
    font-size: max(1vw, 12px);
    animation: fadeIn 0.5s;
}

.login-popup-title{
    display: flex;;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img{
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.login-popup-inputs input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size: max(1vw, 12px);
}

.login-popup-inputs button{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: tomato;
    color: white;
    font-size: max(1vw, 12px);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 5px;
    margin-top: -15px;
    font-size: max(1vw, 12px);
}

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup-container .link {
    color: tomato;
    cursor: pointer;
}